

.info {
    position: relative;
}

.blackRectangle {
    background-color: black;
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0f4f5;
    position: relative;
}

.icon {
    color: white;
    font-size: 3vw;
    margin-right: 1vw;
}

.text {
    font-size: 1.5vw;
    margin-right: 2vw;
    color: white;    
}
@media (max-width: 600px) {
    .blackRectangle {
        display: none; /* Hide the black rectangle */
}
}
@media (max-width: 600px) {
    .lowerpRectangle {
        display: none; /* Hide the black rectangle */
}
}

.name{
    color: brown;
    text-align: center;
    font-size: 4vw;
}

h2{
    padding-top: 4vw;
text-align: center;
padding-bottom:2vw ;
}

.shopOnline{
    display: flex;
    align-items: center;
    position: relative;
}

.lowerRectangle
{
    background-color: black;
    width: 100%;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-size-adjust: auto  ;
}


.whiteText {
    color: white;
    font-size: 20px; 
}

.greyText {
    color: grey;
}
.lowerRectangle {
    background-color: black;
    width: 100%;
    height: 20vw; /* Increase the height to 20vw or adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.whiteText {
    color: white;
    font-size: 20px; /* Adjust font size as needed */
}

.greyText {
    color: grey;
}

.lowerpRectangle {
    background-color: black;
    width: 100%;
    height: 20vw; /* Default height for larger screens */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .lowerpRectangle {
        height: 90vw; /* Adjusted height for smaller screens */
    }
}
.whitepText {
    color: white;
    font-size: 15px; /* Adjust font size as needed */
}

.row {
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
}

.add_cart_btn{
  align-items: center;
  appearance: none;
  background-color:black;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #fcfeff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.cart_btn{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: #000a47;
    line-height: 1.15;
    font-size: 16px;
}
.quantity-button{
    width: 40px;
    height: 25px;
    text-align: center;
    background-color: #14227e;
    color: #fff;
}

.delete-button{
    display: inline-block;
    width: 70px;
    height: 35px;
    text-align: center;
    outline: none;
    background-color: #d3eaf0;
    color: black;
}
.upd-button{
    display: inline-block;
    width: 70px;
    height: 35px;
    text-align: center;
    outline: none;
    background-color: #d3eaf0;
    color: black;
}
button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: #1c2fa9;
    line-height: 1.15;
    font-size: 16px;
}
.add-tab-button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: #1c2fa9;
    line-height: 1.15;
    font-size: 16px;
}